.Image {
  border: 1px solid #dddddd;
  position: relative;
  margin-bottom: 1rem;
}

.Image__image {
  max-width: 100%;
  height: auto;
}

.Image__info {
  padding: 0.5rem;
}

.Image__alert {
  color: #ff6600;
}

.Image__verify {
  color: #43b434;
}

.Image__delete-button {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  background: #ff2600;
  border: 0;
  border-radius: 0;
  padding: 0.3rem;
  color: #ffffff;
}
